---
# File: tasks/main.yml - Main tasks for Nomad

- name: Check distribution compatibility
  fail:
    msg: "{{ ansible_distribution }} is not supported by this role"
  when: ansible_distribution not in ['RedHat', 'CentOS', 'Debian', 'Ubuntu']

- name: Fail if not a new release of Red Hat / CentOS
  fail:
    msg: "{{ ansible_distribution_version }} is not a supported version of {{ ansible_distribution }} for this role"
  when: ansible_distribution in ['RedHat', 'CentOS'] and ansible_distribution_version|version_compare(6, '<')

- name: Fail if not a new release of Debian
  fail:
    msg: "{{ ansible_distribution_version }} is not a supported version of {{ ansible_distribution }} for this role"
  when: ansible_distribution == "Debian" and ansible_distribution_version|version_compare(8.5, '<')

- name: Fail if not a new release of Ubuntu
  fail:
    msg: "{{ ansible_distribution_version }} is not a supported version of {{ ansible_distribution }} for this role"
  when: ansible_distribution == "Ubuntu" and ansible_distribution_version|version_compare(13.04, '<')

- name: Create cluster groupings
  group_by:
    key: "{{ nomad_node_role }}"

- group_by:
    key: "os_{{ ansible_os_family }}"

- name: Add Nomad user
  user:
    name: "{{ nomad_user }}"
    comment: "Nomad user"
    group: "{{ nomad_group }}"
    system: yes

- name: Add Nomad user to docker group
  user:
    name: nomad
    groups: docker
    append: yes
  when: nomad_enable_docker == "true"

- name: Include OS variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: Install OS packages
  include: install.yml

- name: Disable SELinux (RHEL)
  include: selinux.yml
  when: ansible_os_family == "RedHat"

- name: Create directories
  file:
    dest: "{{ item }}"
    state: directory
    owner: "{{ nomad_user }}"
    group: "{{ nomad_group}}"
  with_items:
    - /opt/nomad
    - /var/nomad
    - /var/run/nomad
    - /etc/nomad.d

- name: Base configuration
  template:
    src: base.hcl.j2
    dest: "{{ nomad_config_dir }}/base.hcl"

- name: Bootstrap server configuration
  template:
    src: bootstrap.hcl.j2
    dest: "{{ nomad_config_dir }}/bootstrap.hcl"

- name: Server configuration
  template:
    src: server.hcl.j2
    dest: "{{ nomad_config_dir }}/server.hcl"

- name: Client configuration
  template:
    src: client.hcl.j2
    dest: "{{ nomad_config_dir }}/client.hcl"

- name: SYSV init script
  template:
    src: nomad_sysvinit.j2
    dest: /etc/init.d/nomad
    owner: root
    group: root
    mode: 0755
  when: not ansible_service_mgr == "systemd" and not ansible_os_family == "Debian"

- name: Debian init script
  template:
    src: nomad_debian.init.j2
    dest: /etc/init.d/nomad
    owner: root
    group: root
    mode: 0755
  when: not ansible_service_mgr == "systemd" and ansible_os_family == "Debian"

- name: systemd script
  template:
    src: nomad_systemd.service.j2
    dest: /lib/systemd/system/nomad.service
    owner: root
    group: root
    mode: 644
  when: ansible_service_mgr == "systemd"

- name: Start Nomad
  service:
    name: nomad
    enabled: yes
    state: started
