---
# File: tasks/Red Hat.yml - Red Hat tasks for nomad

# Download and install SELinux Python module (required by Ansible)  

- name: OS Packages
  yum: "name={{ item }} state=present"
  with_items: "{{ nomad_redhat_os_packages }}"
  tags: installation

- name: Download Nomad
  become: no
  connection: local
  get_url: "url={{ nomad_zip_url }} dest={{ role_path }}/files/{{ nomad_rhel_pkg }} sha256sum={{ nomad_zip_sha256 }} timeout=74"
  run_once: true
  tags: installation

- name: Unarchive Nomad
  become: no
  connection: local
  unarchive: src={{ role_path }}/files/{{ nomad_rhel_pkg }} dest={{ role_path }}/files/
  run_once: true
  tags: installation

- name: Install Nomad
  copy: "src={{ role_path }}/files/nomad dest=/usr/local/bin/ owner={{ nomad_user }} group={{ nomad_group }} mode=0755"
  tags: installation

- name: Cleanup
  become: no
  connection: local
  file: "dest={{ role_path }}/files/nomad* state=absent"
  run_once: true
  tags: installation

## Docker Subsystem

- name: Add Docker repo
  copy: src=../files/docker.repo dest=/etc/yum.repos.d/docker.repo owner=root group=root mode=0644
  when: nomad_enable_docker == "true"
  tags: docker

- name: Install Docker
  yum: name=docker-engine state=latest
  when: nomad_enable_docker == "true"
  tags: docker

- name: Start Docker
  service: name=docker enabled=yes state=started
  when: nomad_enable_docker == "true"
  tags: docker
