name = "{{ nomad_node_name }}"
region = "{{ nomad_region }}"
datacenter = "{{ nomad_datacenter }}"

enable_debug = {{ nomad_debug | bool | lower }}
disable_update_check = {{ nomad_disable_update_check | bool | lower }}

bind_addr = "{{ nomad_bind_address }}"
advertise {
    http = "{{ nomad_advertise_address }}"
    rpc = "{{ nomad_advertise_address }}"
    serf = "{{ nomad_advertise_address }}"
}
ports {
    http = {{ nomad_ports['http'] }}
    rpc = {{ nomad_ports['rpc'] }}
    serf = {{ nomad_ports['serf'] }}
}

data_dir = "{{ nomad_data_dir }}"

log_level = "{{ nomad_log_level }}"
enable_syslog = {{ nomad_syslog_enable | bool | lower }}

leave_on_terminate = {{ nomad_leave_on_terminate | bool | lower }}
leave_on_interrupt = {{ nomad_leave_on_interrupt | bool | lower }}


{% if ( nomad_ca_file ) and
      ( nomad_cert_file ) and
      ( nomad_key_file )
%}
tls {
    http = true
    rpc = true
    ca_file = "{{ nomad_ca_file }}"
    cert_file = "{{ nomad_cert_file }}"
    key_file = "{{ nomad_key_file }}"
}
{% endif %}
