client {
    enabled = {{ _nomad_node_client | bool | lower }}

    node_class = "{{ nomad_node_class }}"
    no_host_uuid = {{ nomad_no_host_uuid | bool | lower }}

{% if nomad_use_consul == False %}
    servers = [
        {%- set comma = joiner(",") -%}
        {%- for server in nomad_servers -%}
            {{ comma() }}"{{ hostvars[server]['nomad_advertise_address'] | ipwrap }}:{{ nomad_ports.rpc }}"
        {%- endfor -%} ]
{% endif %}

    max_kill_timeout = "{{ nomad_max_kill_timeout }}"

    {% if nomad_network_interface is defined -%}
    network_interface = "{{ nomad_network_interface }}"
    {% endif -%}
    network_speed = {{ nomad_network_speed }}
    cpu_total_compute = {{ nomad_cpu_total_compute }}

    gc_interval = "{{ nomad_gc_interval }}"
    gc_disk_usage_threshold = {{ nomad_gc_disk_usage_threshold }}
    gc_inode_usage_threshold = {{ nomad_gc_inode_usage_threshold }}
    gc_parallel_destroys = {{ nomad_gc_parallel_destroys }}

    reserved {
        cpu = {{ nomad_reserved['cpu'] }}
        memory = {{ nomad_reserved['memory'] }}
        disk = {{ nomad_reserved['disk'] }}
    }

{% for nomad_host_volume in nomad_host_volumes %}
    host_volume "{{ nomad_host_volume['name'] }}" {
        path = "{{ nomad_host_volume['path'] }}"
        read_only = {{ nomad_host_volume['read_only'] | bool | lower }}
    }
{% endfor %}

{% for nomad_host_network in nomad_host_networks %}
    host_network "{{ nomad_host_network['name'] }}" {
    {% if 'cidr' in nomad_host_network %}
        cidr = "{{ nomad_host_network['cidr'] | default}}"
    {% else %}
        interface = "{{ nomad_host_network['interface'] }}"
    {% endif %}
        reserved_ports = "{{ nomad_host_network['reserved_ports'] }}"
    }
{% endfor %}

    {% if nomad_chroot_env != False -%}
    chroot_env = {
    {% for key, value in nomad_chroot_env.items() %}
    "{{ key }}" = "{{ value }}"
    {% endfor -%}
    }
    {% endif %}

    {% if nomad_options -%}
    options = {
    {% for key, value in nomad_options.items() %}
    "{{ key }}" = "{{ value }}"
    {% endfor -%}
    }
    {% endif %}

    {% if nomad_meta -%}
    meta = {
    {% for key, value in nomad_meta.items() %}
    "{{ key }}" = "{{ value }}"
    {% endfor -%}
    }
    {% endif %}
    
    {% if nomad_artifact -%}
    artifact {
    {% for key, value in nomad_artifact.items() %}
    "{{ key }}" = "{{ value }}"
    {% endfor -%}
    }
    {% endif %}
}

{% macro plugin_config(config, count=1, width=4) %}
{% set next_count = count + 1 %}
{% for key, value in config.items() %}
{% if value is mapping %}
{{ key | indent(count*width, first=True) }} {
{{ plugin_config(value, count=next_count, width=width) }}
{{ '}' | indent(count*width, first=True) }}
{% else %}
{{ key | indent(count*width, first=True) }} = {% if value is string %}"{{ value }}"{% else %}{{ value | string | lower }}{% endif %}

{% endif %}
{% endfor %}
{% endmacro %}

{% for key, value in nomad_plugins.items() %}
plugin "{{ key }}" {
{{ plugin_config(value) | replace('\'', '\"') }}
}
{% endfor %}
