client {
    enabled = {{ _nomad_node_client | bool | lower }}

    node_class = "{{ nomad_node_class }}"
    no_host_uuid = {{ nomad_no_host_uuid | bool | lower }}

{% if nomad_use_consul == False %}
    servers = [
        {%- set comma = joiner(",") -%}
        {%- for server in nomad_servers -%}
            {{ comma() }}"{{ hostvars[server]['nomad_advertise_address'] | ipwrap }}"
        {%- endfor -%} ]
{% endif %}

    max_kill_timeout = "{{ nomad_max_kill_timeout }}"

    network_speed = {{ nomad_network_speed }}
    cpu_total_compute = {{ nomad_cpu_total_compute }}

    gc_interval = "{{ nomad_gc_interval }}"
    gc_disk_usage_threshold = {{ nomad_gc_disk_usage_threshold }}
    gc_inode_usage_threshold = {{ nomad_gc_inode_usage_threshold }}
    gc_parallel_destroys = {{ nomad_gc_parallel_destroys }}

    reserved {
        cpu = {{ nomad_reserved['cpu'] }}
        memory = {{ nomad_reserved['memory'] }}
        disk = {{ nomad_reserved['disk'] }}
        reserved_ports = "{{ nomad_reserved['ports'] }}"
    }

    {% if nomad_options -%}
    options = {
    {% for key, value in nomad_options.iteritems() %}
    "{{ key }}" = "{{ value }}"
    {% endfor -%}
    }

    meta = {
    {% for key, value in nomad_meta.iteritems() %}
    "{{ key }}" = "{{ value }}"
    {% endfor -%}
    }
    {% endif %}
}
