server {
    enabled = {{ _nomad_node_server | bool | lower }}

    {% if _nomad_node_server | bool -%}
        bootstrap_expect = {{ nomad_bootstrap_expect }}
    {%- endif %}

    {% if nomad_use_consul != "" %}
        authoritative_region = "{{ nomad_authoritative_region }}"
    {% endif %}

{% if nomad_use_consul == False %}
    {% if nomad_retry_join | bool -%}
        retry_join = [
            {%- set comma = joiner(",") -%}
            {% for server in nomad_servers -%}
                {{ comma() }}"{{ hostvars[server]['nomad_advertise_address'] | ipwrap }}"
            {%- endfor -%} ]
        retry_max = {{ nomad_retry_max }}
        retry_interval = "{{ nomad_retry_interval }}"
    {% else -%}
        start_join = [
            {%- set comma = joiner(",") -%}
            {% for server in nomad_servers -%}
                {{ comma() }}"{{ hostvars[server]['nomad_advertise_address'] | ipwrap }}"
            {%- endfor -%} ]
    {%- endif %}
{% endif %}

    rejoin_after_leave = {{ nomad_rejoin_after_leave | bool | lower }}

    enabled_schedulers = [
            {%- set comma = joiner(",") -%}
            {% for scheduler in nomad_enabled_schedulers -%}
                {{ comma() }}"{{ scheduler }}"
            {%- endfor -%} ]
    num_schedulers = {{ nomad_num_schedulers }}

    node_gc_threshold = "{{ nomad_node_gc_threshold }}"
    eval_gc_threshold = "{{ nomad_eval_gc_threshold }}"
    job_gc_threshold = "{{ nomad_job_gc_threshold }}"

    encrypt = "{{ nomad_encrypt }}"
}
