server {
    enabled = {{ nomad_node_server | bool | lower }}

    bootstrap_expect = {{ _nomad_servers | count }}

    {% if nomad_retry_join | bool -%}
        retry_join = [
            {% for server in _nomad_servers -%}
            {% set comma = joiner(",") %}
                {{ comma }}"{{ hostvars[server]['nomad_advertise_address'] | ipwrap }}"
            {%- endfor -%} ]
        retry_max = {{ nomad_retry_max }}
        retry_interval = "{{ nomad_retry_interval }}"
    {% else %}
        start_join = [
            {% for server in _nomad_servers -%}
            {% set comma = joiner(",") %}
                {{ comma }}"{{ hostvars[server]['nomad_advertise_address'] | ipwrap }}"
            {%- endfor -%} ]
    {%- endif %}

    rejoin_after_leave = {{ nomad_rejoin_after_leave | bool | lower }}

    enabled_schedulers = [
            {% for scheduler in nomad_enabled_schedulers -%}
            {% set comma = joiner(",") %}
                {{ comma }}"{{ scheduler }}"
            {%- endfor -%} ]
    num_schedulers = {{ nomad_num_schedulers }}

    node_gc_threshold = "{{ nomad_node_gc_threshold }}"
    eval_gc_threshold = "{{ nomad_eval_gc_threshold }}"
    job_gc_threshold = "{{ nomad_job_gc_threshold }}"

    encrypt = "{{ nomad_encrypt }}"
}
