{% set comma = joiner(",") %}
{% set lbracket = "[" %}
{% set rbracket = "]" %}
{% set quote = '"' %}

region = "{{ nomad_region }}"
datacenter = "{{ nomad_datacenter }}"

bind_addr = "0.0.0.0"

advertise {
    http = "{{ nomad_bind_address }}:4646"
    rpc = "{{ nomad_bind_address }}:4647"
    serf = "{{ nomad_bind_address }}:4648"
}

# Increase log verbosity
log_level = "DEBUG"

# Setup data dir
data_dir = "{{ nomad_data_path }}"

# Enable the server
server {
    enabled = true
    start_join= {{ lbracket }}{% for host in groups['cluster_nodes'] %}{% if hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] != hostvars[host]['ansible_eth1']['ipv4']['address']  %}{{ comma() }}{{ quote }}{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}{{ quote }}{% endif %}
{% endfor %}{{ rbracket }}
    retry_join= {{ lbracket }}{% for host in groups['cluster_nodes'] %}{% if hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] != hostvars[host]['ansible_eth1']['ipv4']['address']  %}{{ comma() }}{{ quote }}{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}{{ quote }}{% endif %}
{% endfor %}{{ rbracket }}
    retry_interval = "15s"
}
